body{
    margin: 0;
    min-height: 100vh;
    padding: 0;
    color: #008566;
    background-color: #f9fafa;
    font-family: 'Poppins', sans-serif;
}


/* Profile design */
.profile-wrapper {
    position: relative;
    width: 400px;
    height: 400px;
}

.circlebg {
    width: 400px;
    height: 400px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.circleImage {
    width: 375px;
    height: 375px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

/* project here design */

.project-btn {
    background-color: #008566;
    color: white;
}   

.project-btn:hover {
    background-color: #fff;
    
    border: 1px solid #008566;
}

.hero-title {
  margin-top: 20px;
  font-size: 58px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.1;
  color: #008566; /* Bootstrap success green tone */
  text-transform: uppercase;
}

.hero-text {
  font-size: 16px;
  line-height: 1.8;
  color: #0a8f6a;
  max-width: 480px;
}

.hero-img-wrapper img {
    width: 100%;
    max-width: none;
    background: #008566;
}

/* carousel desing */
.carousel {
  width: 100%;
}

.carousel:hover {
  cursor: pointer;
}

.carousel-inner {
  height: 500px; 
}

.carousel-item {
  height: 100%;
}
.carousel-item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* 
 image detail page styles
*/

.left-controls {
  font-size: 30px;
  color: #008566;
}

.close-btn  {
  font-size: 30px;
  font-weight: 100px;
  color: #008566;
}
.image-info {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.image-info.hidden {
  opacity: 0;
  transform: translateX(20px);
  pointer-events: none;
}
