{% extends 'makers_portfolio/layout.html' %}
{% load static %}


{% block title %}Gias Uddin Vuiya - Portfolio{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container">
    <div class="row align-items-center justify-content-around gy-4">

      <!-- Profile Image -->
      <div class="col-12 col-md-4 text-center">
        <div class="profile-wrapper mx-auto">
          <div 
            class="circlebg mx-auto"
            style="background-image: url('{{ profile.profile_bg_img.url }}')"
          >
            <div 
              class="circleImage"
              style="background-image: url('{{ profile.profile_img.url }}')"
            ></div>
          </div>
        </div>
      </div>

      <!-- Profile Info -->
      <div class="col-12 col-md-6 text-center text-md-start">
        <h1 class="">{{ profile.name }}</h1>
        <h6 class="text-muted">{{ profile.title }}</h6>

        {% include "makers_portfolio/icons/arrow.html" %}

        <p class="mt-3">
          {{ profile.about }}
        </p>
      </div>

    </div>
  </div>
</section>


{% endblock %}
