<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gias Uddin Vuiya{% endblock %}</title>
    <link rel="shortcut icon" href="../../static/portfolios/images/fav-icon.png" type="image/x-icon">
</head>
<body>
    <header>
        <h1>My Website</h1>
        <nav>
            <a href="">Home</a>
            <a href="">About</a>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Child templates will insert content here -->
        {% endblock %}
    </main>

    <footer>
        <hr/>
        <div style="display: flex; justify-content: space-around;">
            <div class="contact-address">
                <h4>Email</h4>
                <p>giasuddinvuiya2022 [at] gmail.com</p>
            </div>
            <div class="github-link">
                <h4>Github</h4>
                <p>https://github.com/Gias-uddin-vuiya</p>
            </div>
            <div class="linkedin-link">
                <p>&copy; 2025 My Django Project</p>
                <p>https://www.linkedin.com/in/gias-uddin-vuiya-2b4b2521b/</p>
            </div>
        </div>
        
    </footer>
</body>
</html>
