{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="shortcut icon" href="../../static/portfolios/images/fav-icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <title>{% block title %}Gias Uddin Vuiya{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'portfolios/css/global.css' %}">

</head>
<body class="{% block body_class %} d-flex flex-column min-vh-100 {% endblock %}">
    
    <header>
        {% block header %}
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                
                <!-- Left side brand -->
                <a class="navbar-brand" href="/">
                    <img src="{% static 'portfolios/images/brand-img.png' %}" 
                    alt="Gias uddin"
                    class="rounded-circle" width="40" height="40">
                    <span class="fw-semibold">Gias Uddin Vuiya</span>
                </a>

                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Right side nav items -->
                <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item border-end">
                        <a class="nav-link active text-success" href="#">Resume</a>
                    </li>

                    <li class="nav-item border-end">
                        <a class="nav-link active text-success" href="/project">Project</a>
                    </li>
                    <li class="nav-item border-end">
                        <a class="nav-link active text-success" href="#">Outreach</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-success" href="#">Personal</a>
                    </li>
                </ul>
                </div>

            </div>
        </nav>
        {% endblock %}
    </header>
    

    <main class="flex-grow-1">
        {% block content %}
        <!-- Child templates will insert content here -->
        {% endblock %}
    </main>

    <footer class="footer bottom bg-light">
        {% block footer %}
        <div class="container">
            <div class="border border-success mb-3"></div>  
            <div class="row text-center text-md-start">

                <div class="col-12 col-md-4 mb-2">
                    <h6 class="">Email</h6>
                    <p class="mb-0 text-success">giasuddinvuiya2022 [at] gmail.com</p>
                </div>

                <div class="col-12 col-md-4 mb-2">
                    <h6>GitHub</h6>
                    <a href="https://github.com/Gias-uddin-vuiya" class="text-decoration-none text-success" target="_blank">
                        github.com/Gias-uddin-vuiya
                    </a>
                </div>

                <div class="col-12 col-md-4 mb-2">
                    <h6>LinkedIn</h6>
                    <a href="https://www.linkedin.com/in/gias-uddin-vuiya-2b4b2521b/" class="text-decoration-none text-success" target="_blank">
                        Visit profile
                    </a>
                    <p class="text-success mb-0">&copy; 2025 My protfolio</p>
                </div>

            </div>
        </div>
        {% endblock %}
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
